.red { background: tomato; }
.green { background: green; }

.text--yellow { color: yellow; }


.container {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94vh;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}



/* Cross out */
.strike{
    text-decoration: line-through;
}

/* Delete */
.delete {
    display: none;
}

